#container {
	background: url('/images/logo.jpg') no-repeat;
	background-size: 1500px 972px;
	margin: auto;
	width: 1500px;
	min-height: 1500px;
}
input[type="text"] {
	height: 210px;
	width: 1200px;
	font-size: 120px;	
	font-family: 'Open Sans', sans-serif;
	margin: auto;
	margin-top: 1200px;
	text-align: center;
}
button {
	-webkit-appearance: none;
	width: 1200px;
	font-size: 120px;
	line-height: 120px;
	padding: 0px 45px;
	height: 210px;
	font-family: 'Open Sans', sans-serif;
}

.z {
	width: 1500px;
	min-height: 90px;
	margin: auto;
	padding-left: 150px;

}