*{
	padding:0;
	margin:0;
}
.html::-webkit-scrollbar { width: 0 !important }

#overlay {
	position: absolute;
	top: 0;
	left:0;
	height: 1920px;
	width: 1040px;
	z-index: 101;
	background: white;
	opacity: 0.9;
	overflow: hidden;
}
#marker {
	z-index: 102;
	position: absolute;
	top: 865px;
	width: 45px;
	height: 45px;
	left: 470px;
	-webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}
#map {
	position: absolute;
	top: 0;
	left:0;
	height: 1920px;
	width: 1040px;
	z-index: 99;

}
#battle {
	position: relative;
	top:0;
	left:0;
}

.battle-map {
	position: absolute;
	height: 1920px;
	width: 1040px;
	top: 0;
	left: 0;
	z-index: 1;
}

.hp {
	position:absolute;
	z-index: 6;
	width: 300px;
	-webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}
#hp1{
	top: 500px;
	left: 300px;
}
#hp2{
	top: 1340px;
	left: 250px;
}

.pokemon {
	position: absolute;
	z-index: 5;
	width: 500px;
	height: 500px;
	-webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

#pokemon1 {
	top: 550px;
	left: 260px;
}
#pokemon2 {
	top: 1400px;
	left: 150px;
}
#pokeball {
	top: 1200px;
	left: 100px;
	width: 30%;
	height: 30%;
	opacity: 100;
}

.shadow {
	position: absolute;
	z-index: 2;
	width: 300;
	height: 88;
	-webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}
#shadow1 {
	top: 880px;
	left: 380px;
}
#shadow2 {
	top: 1750px;
	left: 240px;
}


#test {
	position: absolute;
	top: 100px;
	left: 100px;
	font-size: 100px;
	max-width: 1080px;
	z-index: 300;
}