#battle {
	position: relative;
}

.battle-map {
	position: absolute;
	height: 1920px;
	width: 1080px;
	top: 0;
	left: 0;
	z-index: 1;
}

.pokemon {
	position: absolute;
	z-index: 3;
	-moz-transform: scale(5.2);
    -ms-transform: scale(5.2);
    -o-transform: scale(5.2);
    -webkit-transform: scale(5.2);
    transform: scale(5.2);
}

#pokemon1 {
	top: 800px;
	left: 510px;
}
#pokemon2 {
	top: 1600px;
	left: 340px;
}

.shadow {
	position: absolute;
	z-index: 2;
	width: 300;
	height: 88;
}
#shadow1 {
	top: 880px;
	left: 380px;
}
#shadow2 {
	top: 1750px;
	left: 240px;
}