body {
  background-size: 100%;
}

#pokemon-wrapper {
  position: relative; 
  left: 0; top: 0;"
 
}

#pokemon {
	position: relative; 
  left: 0; top: 0;"
  height: 500;
  width: 500;
}

#overlay {
	position: absolute;
	top: 30px; left: 70px;
	height: 500;
  width: 500;
}

.hidden {
	display:none;
}

.highlight {
  border: 5px red solid !important;
}

#slide {
  background-color:white;
  float: left;
  width: 100%;
  height: 100%;
}

.grid div {
  width: 100px;
  height: 100px;
  float: left;
  border: 5px black solid;
}